{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "node": "11.0.0"
                },
                "loose": true
            }
        ]
    ],
    "plugins": ["transform-object-rest-spread"]
}