{
    "parser": "@typescript-eslint/parser",
    "extends": ["backend", "plugin:@typescript-eslint/recommended"],
    "plugins": ["@typescript-eslint"],
    "parserOptions": {
        "ecmaVersion": 2019,
        "sourceType": "module"
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".ts"]
            }
        }
    }
}
